div a {
    color: white;
}

.Red {
    color: #FE5054;
}

.Green {
    color: #53EE4A;
}

.Purple {
    color: #755AE3;
}

.Yellow {
    color: #FFDE50;
}

.Footer {
    background-color: #755AE3;
    color: #FFDE50;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.page-header {
    background-color: #FE5054;
    color: #53EE4A;
}

.center {
    align-content: center;
    text-align: center;
}
div.black{
    background-color:black;
}
div.spacing {
    margin: 15px;
}
